        
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:500px;
    padding:80px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    gap:20px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(20px);
    border-radius: 20px;

}
.login{
    padding:5px;
    background-color:white;
    border: none;
    transition:0.5s;
    height:45px;
    width:100px;
}
.login:hover{
background-color: aqua;
}